#importFrom("hydroTSM", hydroplot, hydropairs, dip, mip, yip, vector2zoo)
importFrom("hydroGOF", plotbands)
importFrom("Hmisc", wtd.quantile, wtd.Ecdf)
importFrom("zoo", zoo)
#import(grid)
#importFrom("scatterplot3d", scatterplot3d)
exportPattern("^[^\\.]")

